<section class="example-section">
    <span class="example-list-section">
      <mat-checkbox
        class="example-margin"
        [checked]="task.completed"
        [indeterminate]="isPartiallyComplete()"
        (change)="onTaskChange($event.checked)"
      >
        {{ task.name }}
      </mat-checkbox>
    </span>
    <span class="example-list-section" *ngIf="task.subtasks?.length">
      <ul>
        <li *ngFor="let subtask of task.subtasks; let i = index">
          <mat-checkbox
            [checked]="subtask.completed"
            (change)="onSubtaskChange($event.checked, i)"
          >
            {{ subtask.name }}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>