<div class="map-container">
  <div class="map-container-filters">
    <div *ngFor="let group of taskGroups">
      <app-checkbox [task]="group" (taskChange)="onGroupChange($event)"></app-checkbox>
    </div>
    <div class="price">
      <div class="title">
        Price
      </div>
      <mat-slider [min]="600" [max]="10000" [step]="100" discrete [displayWith]="formatLabel">
        <input value="0" matSliderStartThumb (dragStart)="changeStart($event)">
        <input value="0" matSliderEndThumb (dragEnd)="changeEnd($event)">
      </mat-slider>
    </div>
  </div>
  <div id="map" style="height: 500px;width: 80%;"></div>
</div>