.map-container {
  display: flex;
  justify-content: space-between;
  &-filters {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .price {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
