/* You can add global styles to this file, and also import other style files */



@import '@angular/material/prebuilt-themes/indigo-pink.css';
// @include mat-core();

// $my-primary: mat-palette($mat-blue);
// $my-accent: mat-palette($mat-pink);

// $my-theme: mat-light-theme($my-primary, $my-accent);

// @include angular-material-theme($my-theme);


.info-img {
    display: flex;
    img {
      width: 100px;
      height: auto;
      transition: transform .5s;
      z-index: 1;
      &:hover {
        z-index: 2;
        transform: scale(1.5);
      }
    }
  }